@import '../app.component.less';



nav.aumentum-navbar,
.aumentum-navbar a {
  color: @aumentum-gray;
  background-color: @aumentum-dark-blue;
}
nav.aumentum-navbar .dropdown-menu{
  background-color: @aumentum-green;
}

.aumentum-navbar a:hover {
  color: @aumentum-white;
}

nav .nav-item .dropdown-menu,
.dropdown-menu .dropdown-divider,
.aumentum-navbar .navbar-nav .dropdown-menu, 
.nav-item .dropdown-menu .dropdown-item {
  background-color: @aumentum-green;
  color: @aumentum-white;
}

.nav-item .dropdown-menu .dropdown-item:hover {
  color: @aumentum-dark-blue;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: white;
}
.navbar-nav .dropdown-toggle::after {
  display: none;
}

.badge {
  background-color: @aumentum-secondary-red;
}

#mega-menu {
  font-size: small;
  background-color: @aumentum-green;
  color: white;
}

#mega-menu * {
  background-color: @aumentum-green; //rgb(0,124,100);
  color: white;
}
#mega-menu * a:hover {
  color: @aumentum-dark-blue;
}
.fa {
  font-size: x-large;
}
i.fa:hover {
  color: @aumentum-dark-blue;
}
i.fa {
  vertical-align: middle;
}
.fa-label {
  padding-left: 10px;
  vertical-align: middle;
}
.fa-label :hover {
  color: @aumentum-dark-blue;
}
.mega-group {
  width: 200px;
  margin-left: 15px;
  margin-bottom: 10px;
}
.mega-group .group-name {

  font-weight: bold;
}
.mega-group .subgroup .dropdown-item{
  padding-left: 24px
}
.mega-group .dropdown-item {
  padding-left: 0px;
}

.mega-group .navbar-item {
  margin-left: 15px;
}
.mega-group hr {
  width: 100%;
  border: 0;
  border-top: 1px solid rgb(116, 150, 160);
  margin-top: 5px;
  margin-bottom: 5px;
}

#mega-menu input::placeholder {
  color:@aumentum-gray;
}
#mega-menu input {
  background-color: rgb(214 241 225);
  color: @aumentum-dark-blue;
}

#mega-menu input:focus {
    border-color: transparent;
  }

.btn-outline-secondary {
  border-color: white;
}

#mega-menu #search-dropdown {
  background-color: @aumentum-dark-blue;
}
#mega-menu #search-dropdown .dropdown-item {
  background-color: @aumentum-dark-blue;
}
#mega-menu #search-dropdown .dropdown-item:hover,
#mega-menu #search-dropdown .dropdown-item:hover .fas {
  background-color:  rgb(214 241 225);
  color: @aumentum-dark-blue;
}
#mega-menu #search-dropdown .dropdown-item .fas.fa-rocket {
  color: @aumentum-secondary-green;
}

.nav-item.dropdown {
  cursor: pointer;
}

#mega-menu .pinnable i.fas {  
  display: none;
  padding-left: 5px;
}
#mega-menu .pinnable:hover i.fas {
  display: inline-block;
  color: @aumentum-dark-blue;
}

#mega-menu .pinned i.fas {  
  padding-left: 5px;
  color: lightgreen;
}
#mega-menu .pinned i.fas.fa-close {  
  display:none;
}
#mega-menu .pinned:hover i.fas.fa-thumbtack {
  display: none;
}

#mega-menu .pinned:hover i.fas.fa-close {
  display: inline-block;
  color: @aumentum-dark-blue;
}

#mega-menu .recent-tasks .dropdown-item {
  display: inline;
}
#mega-menu .recent-tasks {
  padding-bottom: 20px;
  font-weight: bold;
  font-size: medium;
}

#search-dropdown .fas {
  background-color: @aumentum-dark-blue;
  padding-right: 5px;
  width: 40px;
}

.user-portrait {
  width: 26px;
  height: 26px;  
  margin-right: 0px;
  border-style: solid;
  border-color: @aumentum-gray;
  border-width: 3px;
  border-radius: 18px;
}
.user-portrait-lg {
  width: 96px;
  height: 96px;  
  margin-right: 10px;
  border-style: solid;
  border-color: @aumentum-gray;
  border-width: 3px;  
  border-radius: 15px;
}
/* You should place only common variables here */

