
@font-family: Verdana;

@black-color: #212121;
@dark-grey-1-color: #232427;
@dark-grey-2-color: #37383D;
@med-grey-1-color: #6D6D78;
@med-grey-2-color: #93939C;
@med-grey-3-color: #B2B2B8;
@med-grey-4-color: #C3C3CA;
@light-grey-1-color: #D4D4D9;
@light-grey-2-color: #E6E7E9;
@light-grey-3-color: #F4F5F7;
@light-grey-4-color: #D5D4D9;
@light-grey-5-color: #E8EAEC;
@white-color: #FFFFFF;

@orange-color: #FF8000;
@yellow-color: #FFC946;
@pale-yellow-color: #FCF8D9;
@dark-blue-color: #28447E;
@blue-color: #1472C2;
@blue-2-color: #005885;
@blue-3-color: #0072A8;
@light-blue-color: #45B7E7;
@light-blue-2-color: #45B7E7;
@pale_blue_color: #D4EBF4;
@green-color: #85AB44;
@light-green-color: #E4E8D8;
@pale-green-color: #F2F6EC;
@red-color: #DC0A0A;

@gray-color: #999;
@sandy-color: #E3DECF;